NODE_ENV=development
PORT=5000
MONGO_URI=mongodb://localhost:27017/steptrendy
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=7d
ADMIN_EMAIL=dipendra@steptrendy.com
ADMIN_PASSWORD=change_this_password
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_app_password
